/* authors */
.avatar {
    vertical-align: middle;
    border-radius: 50%;
    margin: 2px;
}

.authors {
    display: flex;
    flex-direction: row;
}

.author {
    display: flex;
    margin: 5px;
    flex-direction: column;
    align-items: center;
}

.author > .name {
    font-weight: bold;
}

.author > .organization {
    font-style: italic;
}

/* sponsors */
.sponsors {
    display: flex;
    flex-direction: row;
}

.sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.sponsor > .sp-logo {
    max-width: 200px;
    margin: 5px;
}

.sponsor > .sp-name {
    font-weight: bold;
}

.sponsor > .sp-location {
    font-style: italic;
}
